:global {
  .address-cascader {
    .ant-select-dropdown {
      width: 525px !important;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
    }
    .ant-tabs-nav-container {
      background-color: #f6f6f6;
    }

    .ac-content-item {
      padding: 10px;
      cursor: pointer;
      display: -webkit-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #333;
      .ac-content-item-text {
        padding: 3px 5px;
      }
      .ac-content-item-text-active {
        background-color: rgba(229, 245, 255, 1);
        font-weight: bold;
        padding: 3px 5px;
      }
    }
  }
}
