:global {
  .lz-component-tab-filter {
    margin: 0;
    &.type-card {
      .ant-tabs-bar {
        border-bottom-color: #f6f6f6;
      }
      .ant-tabs-nav > div {
        position: relative;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #f6f6f6;
        border-bottom: none;
        border-radius: 8px 8px 0 0;
        &::before {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 12px;
          background-color: #f6f6f6;
          content: '';
        }
        .ant-tabs-tab {
          position: relative;
          z-index: 2;
          margin: 0;
          padding: 0;
          background-color: transparent;
          border: none;
          border-radius: 0;
          &.ant-tabs-tab-active {
            background-color: transparent;
          }
          .tab-label {
            display: block;
            height: 40px;
            padding: 0 16px;
            background-color: #f6f6f6;
            line-height: 40px;
            &[data-disabled='true'] {
              color: #ccc;
            }
            &.active {
              background-color: #fff;
              border-radius: 8px 8px 0 0;
              &-left {
                border-radius: 0 0 8px 0;
              }
              &-right {
                border-radius: 0 0 0 8px;
              }
            }
          }
        }
      }
    }
    .ant-tabs-tab {
      text-align: center;
    }
  }
}
