:global {
  .lz-component-modal-trigger {
    display: flex;
    .picker-entry {
      .button-wrapper {
        display: flex;
        align-items: center;
      }
      .selected-text {
        margin: 5px 0;
        color: #666;
        line-height: 12px;
      }
    }
  }
  .lz-component-modal {
    padding: 0;
    .modal-content {
      display: flex;
      flex-direction: column;
      position: relative;
      min-width: 876px;
      &.with-padding {
        padding: 0 16px;
      }
      .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 54px;
        border-bottom: 1px solid #eee;
        .modal-title {
          width: auto;
          margin: 0;
          padding: 0;
          color: #323232;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .button-close-modal {
        position: absolute;
        z-index: 99;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        background-color: transparent;
        border: none;
        color: #999;
        font-size: 20px;
        cursor: pointer;
        outline: none;
        &:hover {
          color: #666;
        }
        .anticon-plus {
          transform: rotate(45deg);
        }
      }
      .ant-table-placeholder {
        border: none;
      }
    }
    .modal-body {
      .select-tab-content {
        height: 460px;
        overflow: auto;
      }
    }
    .modal-footer {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      height: 60px;
      border-top: 1px solid #eee;
      .footer-left {
        flex: 1;
      }
      .selected-count {
        color: #323232;
        font-size: 14px;
      }
      .footer-buttons {
        .ant-btn {
          margin-left: 10px;
        }
      }
    }
    .ant-modal-close {
      display: none;
    }
    .ant-modal-body {
      padding: 0;
    }
  }
}
