/**
 * SCSS公用配置文件
 * SCSS中用到的配色方案、公用尺寸等数据请在此文件中声明
 * @author 王刚(Margox Wang) 
 * @date 2019-04-15
 */

// 通用颜色
$COLOR_PRIMARY: #1976d2; // 主配色
$COLOR_SECONDARY: #f4931f; // 次要配色

$COLOR_ANTD_FOCUS: #1976d2;

$COLOR_SUCCESS: #28a745; // 成功
$COLOR_WARNING: $COLOR_SECONDARY; // 警告
$COLOR_DANGER: #fb3a3a; // 错误

$COLOR_FORM_FIELD_BORDER: #ccc; // 表单项目边框颜色(按钮、输入框等)
$COLOR_CONTENT_DIVIDER: #f2f2f2; // 内容分割线颜色
$COLOR_GRAY_BACKGROUND: #f6f6f6; // 浅背景色
$COLOR_LIGHT_BACKGROUND: #f8f8f8; // 更浅的背景色

$COLOR_TEXT_EMPHASIZED: #323232; // 强调文本颜色
$COLOR_TEXT_SECONDARY: #666; // 次要文本颜色
$COLOR_TEXT_INFO: #999; // 提示文本颜色

// 专用颜色定义
$SIDEBAR_BACKGROUND_COLOR: #004e92; // 一级导航栏背景色

// 尺寸
$TOPBAR_HEIGHT: 56px; // 顶栏高度
$SIDEBAR_WIDTH: 72px; // 一级导航栏宽度
$SIDEBAR_SUBMENU_WIDTH: 130px; // 二级导航栏宽度

$publicPathPrefix: '';
